body, * {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    padding: 0;
    margin: 0;
    position: relative;
}

body{
    background-color: #bfbebe !important;
}

.flex_container, .home_screen, .form_wrap{
    width: 372px;
    height: 665px;
}

.flex_container, .search_input, .info_box{
    margin: 0 auto;
}

.home_screen, .search_wrap{
    background: #36ac87;
}

.dots, .dots input[type=checkbox], .dots label, .dot, .dot:before, .dot:after, span.placeholder, .placeholderDiv, .placeholderLoginDiv,
span.arrow_down, hr.custome_hr, img.icon, .close_btn{
    position: absolute;
}

.dots label, .dot, .dot:before, .dot:after, span.arrow_down, .dropdown_txt, .close_btn{
    cursor: pointer;
}

.search_wrap, .info_box{
    display: flex;
}

span.arrow_down, ul.dropdown-menu li a, .box_wrap {
    display: inline-flex;
}

.search_wrap, span.arrow_down, ul.dropdown-menu li a{
    align-items: center;
}

.search_input, .input_wrap, .info_box{
    width: 300px;
}


.select_dropdown, .arrow_up, img.menu_arrow, .box_wrap, .content{
    position: relative;
}

span.placeholder, .placeholderDiv, .placeholderLoginDiv, .dropdown_txt, .content{
    font-weight: bold;
}

span.placeholder, .placeholderDiv, .placeholderLoginDiv, .input_style[type="text"], .box_wrap, .content{
    font-size: 20px;
}

.box_wrap, .close_btn{
    border: 1px solid #36ac87;
}

.paraTxt {
    margin-bottom: 10px;
}

.dots {
    right: 20px;
    z-index: 9;
}

.dots input[type=checkbox] {
    top: 48px;
    right: -3px;
    opacity: 0;
}

.dots label {
    display: inline-block;
    width: 15px;
    height: 22px;
    top: 38px;
    left: -10px;
    z-index: 999;
}

.dot,
.dot:before,
.dot:after {
    width: 6px;
    height: 6px;
    border-radius: 20px;
    background-color: #fff;
    transform: rotate(270deg);
}

.dot {
    top: 50px;
    right: 0;
}

.dot:before,
.dot:after {
    content: "";
}

.dot:before {
    right: 10px;
    transition: right .3s ease-out, width .3s ease-out;
}

.dot:after {
    left: 10px;
    transition: left .3s ease-out, width .3s ease-out;
}

.dots:hover .dot:before {
    right: -10px;
}

.dots:hover .dot:after {
    left: -10px;
}

.dots input[type=checkbox]:checked ~ .dot:before {
    right: -10px;
    width: 26px;
    transform: rotate(225deg);
    background: black;
    animation-name: fadeInDown;
    animation-delay: .5s;
}

.dots input[type=checkbox]:checked ~ .dot:after {
    left: -10px;
    width: 26px;
    transform: rotate(135deg);
    background: black;
    animation-name: fadeInDown;
    animation-delay: .5s;
}

.search-active {
    transform: scale(0 1);
}

.search_wrap {
    height: 90px;
    animation-delay: .9s;
}

.search_input{
    font-size: 24px;
    height: 50px;
    background: transparent;
    border: 0;
    box-shadow: none;
}

.search_input:focus{
    outline: none;
}

.search_input::-webkit-input-placeholder {
    color: #89ceb8;
}
.search_input::-moz-placeholder {
    color: #89ceb8;
}
.search_input:-ms-input-placeholder {
    color: #89ceb8;
}
.search_input:-moz-placeholder {
    color: #89ceb8;
}

.search_input[type="text"] {
    color: #89ceb8;
    letter-spacing: 1px;
}

.form_wrap {
    background: white;
    height: auto;
}

.input_wrap{
    margin: 50px auto 56px;
}

.input_style[type="text"]{
    color: #000;
    border-bottom: 1px solid #36ac87 !important;
    border: 0;
    width: 100%;
    height: 78px;
    animation-delay: .7s;
}

.input_style:focus{
    outline: none;
}

.input_style::-webkit-input-placeholder,
.input_style::-moz-placeholder,
.input_style:-ms-input-placeholder,
.input_style:-moz-placeholder{
    color: #000 !important;
    font-weight: bold;
}

.dropdown_list{
    width: 100%;
    animation-delay: .6s;
    z-index: 1;
}


span.placeholder, .placeholderDiv {
    top: 10px;
}

.placeholderLoginDiv{
    top: 26px;
}
ul.dropdown-menu {
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    border: 0;
}

span.arrow_down {
    top: 34px;
    right: 0;
}

.arrow_up{
    webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

img.menu_arrow {
    transform: rotate(270deg);
    margin-right: 22px;
}

ul.dropdown-menu{
    bottom: 14px;
    background: #ffffff;
    display: none;
}

ul.dropdown-menu li a{
    height: 45px;
    width: 100%;
    text-decoration: none;
    color: black;
}

.dropdown_txt{
    width: 100%;
    font-size: 14px;
}

.dropdown-menu>li{
    width:100%;
    height: 45px;
    list-style: none;
}

hr.custome_hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid #d6efe7;
    width: 87%;
    right: 0;
    bottom: 0;
}

.fullWidth_hr{
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid #36ac87;
}

.info_box {
    justify-content: space-between;
}

.box_wrap {
    width: 146px;
    height: 110px;
    margin: 0px auto 50px;
    align-items: flex-end;
}

.box_wrap:nth-child(1) {
    animation-delay: .7s;
}

.box_wrap:nth-child(2) {
    animation-delay: .8s;
}

img.icon {
    width: 20px;
    top: 10px;
    right: 15px;
}

.content{
    bottom: 10px;
    left: 20px;
}

.close_btn {
    background: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 100%;
    line-height: 2.5;
    z-index: 1;
    bottom: -25px;
    right: 25px;
}

